* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#site_main {
    border-top: 2px solid black;
    border-bottom: 2px solid black;
}

.card {
    border: 2px solid black;
    padding: 0px 20px;
    margin: 12px 20px;
    height: 10rem;
}